# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
!SDL2.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
!SDL2.lib
!SDL2main.lib
!SDL2test.lib

# Executables
*.exe
*.out
*.app
Emulator

#CMake
build/
CMakeFiles/
cmake_install.cmake
CMakeCache.txt
Makefile

#Visual Studio
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
Debug/
Release/
Emulator.dir/
.vs/

#imgui
imgui.ini